@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #cf4f24;
  --rose: #d62400;
  --orange: #eb7114;
  --yellow: #ecba5d;
  --ochre: #e69600;
  --green: #00a674;
  --blue: #20a4ca;
  --purple: #4b27b1;
  --night-purple: #18042d;
  --teal: #147995;
  --white: #f8ebcb;
  --black: #231f20;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  font-size: 16px;
}
@media (max-width: 1920px) {
  html {
    font-size: 0.83vw; /* 16px */
  }
}
@media (max-height: 800px) {
  html {
    font-size: 1.6vh; /* 16px */
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 1.82vw; /* 14px */
  }
}
@media (max-width: 767px) {
  html {
    font-size: 3.33vw; /* 13px */
  }
}

body {
  color: var(--white);
  background: var(--white);
}
.heading-1 {
  font-size: 8.75rem; /* 140px */
  line-height: 1.05;
  font-family: var(--font-pretorian);
}
.heading-2 {
  font-size: 6rem; /* 96px */
  line-height: 1.1;
  font-family: var(--font-pretorian);
  letter-spacing: 0.03em;
}
.heading-3 {
  font-size: 2.438rem; /* 39px */
  line-height: 1.2;
  font-family: var(--font-grotesk);
  letter-spacing: 0.01em;
  font-weight: 700;
}
.heading-4 {
  font-size: 1.938rem; /* 31px */
  line-height: 1.2;
  font-family: var(--font-grotesk);
  font-weight: 600;
}
.heading-5 {
  font-size: 1.562rem; /* 25px */
  line-height: 1.2;
  font-family: var(--font-grotesk);
  font-weight: 400;
}
.heading-6 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.2;
  font-family: var(--font-grotesk);
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.paragraph {
  font-size: 1rem; /* 16px */
  line-height: 1.5;
  font-family: var(--font-grotesk);
  font-weight: 600;
}
.container {
  max-width: 108rem; /* 1728px */
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.imageWrap {
  clip-path: circle(0% at 50% 77%);
}
.continuity-circles {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
// Slider appereance
.slider {
  -webkit-appearance: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background: var(--blue);
  cursor: pointer;
  border-radius: 50%;
  border: 0;
}
.slider::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background: var(--blue);
  cursor: pointer;
  border-radius: 50%;
  border: 0;
}

@media (max-width: 1100px) {
  .container {
    padding-left: 1.714rem;
    padding-right: 1.714rem;
  }
  .heading-1 {
    font-size: 5.429rem; /* 76px */
  }
  .heading-2 {
    font-size: 4.571rem; /* 64px */
    letter-spacing: 0;
  }
  .heading-3 {
    font-size: 2.429rem; /* 34px */
  }
  .heading-4 {
    font-size: 1.929rem; /* 27px */
  }
  .heading-5 {
    font-size: 1.571rem; /* 22px */
  }
  .heading-6 {
    font-size: 1.286rem; /* 18px */
  }
  .paragraph {
    font-size: 1rem; /* 14px */
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 1.538rem;
    padding-right: 1.538rem;
  }
  .heading-1 {
    font-size: 4.308rem; /* 56px */
  }
  .heading-2 {
    font-size: 3.846rem; /* 40px */
    letter-spacing: 0.03em;
  }
  .heading-3 {
    font-size: 2.462rem; /* 32px */
  }
  .heading-4 {
    font-size: 1.923rem; /* 25px */
  }
  .heading-5 {
    font-size: 1.538rem; /* 20px */
  }
  .heading-6 {
    font-size: 1.231rem; /* 16px */
  }
  .paragraph {
    font-size: 1rem; /* 13px */
  }
  .slider::-webkit-slider-thumb {
    width: 2.857rem;
    height: 2.857rem;
  }
  .slider::-moz-range-thumb {
    width: 2.857rem;
    height: 2.857rem;
  }
}
